In [1]:
# %load imports.py
import numpy as np
import scipy as sp
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
%matplotlib inline
import seaborn as sns
sns.set()

In [2]:
data_dictionary = "	https://data.nasa.gov/api/views/gh4g-9sfh/columns.json"

In [10]:
df = pd.read_json('../DATA/meteorite_events.json', convert_dates=['year'])
df.head(30)

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,geolocation,:@computed_region_cbhk_fwbd,:@computed_region_nnqa_25f4
0,Aachen,1,Valid,L5,21.0,Fell,1880-01-01T00:00:00.000,50.77500,6.08333,"{'type': 'Point', 'coordinates': [6.08333, 50....",NaN,NaN
1,Aarhus,2,Valid,H6,720.0,Fell,1951-01-01T00:00:00.000,56.18333,10.23333,"{'type': 'Point', 'coordinates': [10.23333, 56...",NaN,NaN
2,Abee,6,Valid,EH4,107000.0,Fell,1952-01-01T00:00:00.000,54.21667,-113.00000,"{'type': 'Point', 'coordinates': [-113, 54.216...",NaN,NaN
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1976-01-01T00:00:00.000,16.88333,-99.90000,"{'type': 'Point', 'coordinates': [-99.9, 16.88...",NaN,NaN
4,Achiras,370,Valid,L6,780.0,Fell,1902-01-01T00:00:00.000,-33.16667,-64.95000,"{'type': 'Point', 'coordinates': [-64.95, -33....",NaN,NaN
5,Adhi Kot,379,Valid,EH4,4239.0,Fell,1919-01-01T00:00:00.000,32.10000,71.80000,"{'type': 'Point', 'coordinates': [71.8, 32.1]}",NaN,NaN
6,Adzhi-Bogdo (stone),390,Valid,LL3-6,910.0,Fell,1949-01-01T00:00:00.000,44.83333,95.16667,"{'type': 'Point', 'coordinates': [95.16667, 44...",NaN,NaN
7,Agen,392,Valid,H5,30000.0,Fell,1814-01-01T00:00:00.000,44.21667,0.61667,"{'type': 'Point', 'coordinates': [0.61667, 44....",NaN,NaN
8,Aguada,398,Valid,L6,1620.0,Fell,1930-01-01T00:00:00.000,-31.60000,-65.23333,"{'type': 'Point', 'coordinates': [-65.23333, -...",NaN,NaN
9,Aguila Blanca,417,Valid,L,1440.0,Fell,1920-01-01T00:00:00.000,-30.86667,-64.55000,"{'type': 'Point', 'coordinates': [-64.55, -30....",NaN,NaN
10,Aioun el Atrouss,423,Valid,Diogenite-pm,1000.0,Fell,1974-01-01T00:00:00.000,16.39806,-9.57028,"{'type': 'Point', 'coordinates': [-9.57028, 16...",NaN,NaN
11,AÃ¯r,424,Valid,L6,24000.0,Fell,1925-01-01T00:00:00.000,19.08333,8.38333,"{'type': 'Point', 'coordinates': [8.38333, 19....",NaN,NaN
12,Aire-sur-la-Lys,425,Valid,Unknown,NaN,Fell,1769-01-01T00:00:00.000,50.66667,2.33333,"{'type': 'Point', 'coordinates': [2.33333, 50....",NaN,NaN
13,Akaba,426,Valid,L6,779.0,Fell,1949-01-01T00:00:00.000,29.51667,35.05000,"{'type': 'Point', 'coordinates': [35.05, 29.51...",NaN,NaN
14,Akbarpur,427,Valid,H4,1800.0,Fell,1838-01-01T00:00:00.000,29.71667,77.95000,"{'type': 'Point', 'coordinates': [77.95, 29.71...",NaN,NaN
15,Akwanga,432,Valid,H,3000.0,Fell,1959-01-01T00:00:00.000,8.91667,8.43333,"{'type': 'Point', 'coordinates': [8.43333, 8.9...",NaN,NaN
16,Akyumak,433,Valid,"Iron, IVA",50000.0,Fell,1981-01-01T00:00:00.000,39.91667,42.81667,"{'type': 'Point', 'coordinates': [42.81667, 39...",NaN,NaN
17,Al Rais,446,Valid,CR2-an,160.0,Fell,1957-01-01T00:00:00.000,24.41667,39.51667,"{'type': 'Point', 'coordinates': [39.51667, 24...",NaN,NaN
18,Al Zarnkh,447,Valid,LL5,700.0,Fell,2001-01-01T00:00:00.000,13.66033,28.96000,"{'type': 'Point', 'coordinates': [28.96, 13.66...",NaN,NaN
19,Alais,448,Valid,CI1,6000.0,Fell,1806-01-01T00:00:00.000,44.11667,4.08333,"{'type': 'Point', 'coordinates': [4.08333, 44....",NaN,NaN
20,Albareto,453,Valid,L/LL4,2000.0,Fell,1766-01-01T00:00:00.000,44.65000,11.01667,"{'type': 'Point', 'coordinates': [11.01667, 44...",NaN,NaN
21,Alberta,454,Valid,L,625.0,Fell,1949-01-01T00:00:00.000,2.00000,22.66667,"{'type': 'Point', 'coordinates': [22.66667, 2]}",NaN,NaN
22,Alby sur ChÃ©ran,458,Valid,Eucrite-mmict,252.0,Fell,2002-01-01T00:00:00.000,45.82133,6.01533,"{'type': 'Point', 'coordinates': [6.01533, 45....",NaN,NaN
23,Aldsworth,461,Valid,LL5,700.0,Fell,1835-01-01T00:00:00.000,51.78333,-1.78333,"{'type': 'Point', 'coordinates': [-1.78333, 51...",NaN,NaN
24,Aleppo,462,Valid,L6,3200.0,Fell,1873-01-01T00:00:00.000,36.23333,37.13333,"{'type': 'Point', 'coordinates': [37.13333, 36...",NaN,NaN
25,Alessandria,463,Valid,H5,908.0,Fell,1860-01-01T00:00:00.000,44.88333,8.75000,"{'type': 'Point', 'coordinates': [8.75, 44.883...",NaN,NaN
26,Alexandrovsky,465,Valid,H4,9251.0,Fell,1900-01-01T00:00:00.000,50.95000,31.81667,"{'type': 'Point', 'coordinates': [31.81667, 50...",NaN,NaN
27,Alfianello,466,Valid,L6,228000.0,Fell,1883-01-01T00:00:00.000,45.26667,10.15000,"{'type': 'Point', 'coordinates': [10.15, 45.26...",NaN,NaN
28,Allegan,2276,Valid,H5,32000.0,Fell,1899-01-01T00:00:00.000,42.53333,-85.88333,"{'type': 'Point', 'coordinates': [-85.88333, 4...",50.0,429.0
29,Allende,2278,Valid,CV3,2000000.0,Fell,1969-01-01T00:00:00.000,26.96667,-105.31667,"{'type': 'Point', 'coordinates': [-105.31667, ...",NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   name                         1000 non-null   object
 1   id                           1000 non-null   int64
 2   nametype                     1000 non-null   object
 3   recclass                     1000 non-null   object
 4   mass                         972 non-null    float64
 5   fall                         1000 non-null   object
 6   year                         999 non-null    object
 7   reclat                       988 non-null    float64
 8   reclong                      988 non-null    float64
 9   geolocation                  988 non-null    object
 10  :@computed_region_cbhk_fwbd  133 non-null    float64
 11  :@computed_region_nnqa_25f4  134 non-null    float64
dtypes: float64(5), int64(1), object(6)
memory usage: 93.9+ KB

In [5]:
len(df['id']), len(df['id'].unique())

(1000, 1000)

In [6]:
df.mass.min(), df.mass.max(), df.mass.mean(),

(0.15, 23000000.0, 50190.19568930041)

In [7]:
df.value_counts('recclass')

recclass
L6           242
H5           143
H6            77
L5            69
H4            48
            ...
H5-7           1
H4-an          1
H3/4           1
H3.7           1
Winonaite      1
Name: count, Length: 118, dtype: int64

In [8]:
for rec_class, data in df.groupby('recclass'):
    print(f"{rec_class:20s} {len(data):3d} {round(data['mass'].mean(), 3):12.3f} {round(data['mass'].min(), 3):12.3f} {round(data['mass'].max(), 3):12.3f}")

Acapulcoite            1     1914.000     1914.000     1914.000
Achondrite-ung         1        0.150        0.150        0.150
Angrite                1     1500.000     1500.000     1500.000
Aubrite                9   134082.556      800.000  1100000.000
C                      1      992.500      992.500      992.500
C2-ung                 3     3625.000      375.000    10000.000
C3-ung                 1     4610.000     4610.000     4610.000
CBa                    1   100000.000   100000.000   100000.000
CI1                    4     5176.375        1.000    14000.000
CK4                    2    20933.000      136.000    41730.000
CM2                   15     8876.787       25.810   100000.000
CO3.2                  1   200000.000   200000.000   200000.000
CO3.3                  1     3200.000     3200.000     3200.000
CO3.4                  1     6000.000     6000.000     6000.000
CO3.5                  1    51700.000    51700.000    51700.000
CO3.6                  1     3763.000     3763.000     3763.000
CR2                    2     1500.000     1000.000     2000.000
CR2-an                 1      160.000      160.000      160.000
CV3                    6   336216.667     1000.000  2000000.000
Diogenite              8    10652.500       50.000    40300.000
Diogenite-pm           3      406.600      102.000     1000.000
EH3                    2     1700.000      800.000     2600.000
EH3/4-an               1       28.000       28.000       28.000
EH4                    3    46079.667     4239.000   107000.000
EH5                    2    13890.000    13780.000    14000.000
EH7-an                 1     4720.000     4720.000     4720.000
EL6                    7     9868.000      973.000    23250.000
Eucrite                2      252.000      180.000      324.000
Eucrite-br             1      500.000      500.000      500.000
Eucrite-cm             5     1030.400       20.000     1880.000
Eucrite-mmict         17    32527.776       97.700   330000.000
Eucrite-pmict          7     2317.286      219.000     5100.000
H                     12     2865.217       13.900    17450.000
H/L3.6                 1    28000.000    28000.000    28000.000
H/L3.9                 1     7250.000     7250.000     7250.000
H/L4                   1      478.000      478.000      478.000
H3                     1     3640.000     3640.000     3640.000
H3-4                   1      467.000      467.000      467.000
H3-5                   5     9052.520      666.600    17000.000
H3-6                   1     9000.000     9000.000     9000.000
H3.4                   1     1265.000     1265.000     1265.000
H3.7                   1     3618.000     3618.000     3618.000
H3.8                   2    28500.000    12000.000    45000.000
H3/4                   1     1000.000     1000.000     1000.000
H4                    48    23668.896      177.000   500000.000
H4-5                   2     3505.600      342.000     6669.200
H4-6                   2     1856.850      483.700     3230.000
H4-an                  1     1504.000     1504.000     1504.000
H4/5                   4    37862.500     1000.000    70500.000
H5                   143    51679.569       18.410  4000000.000
H5-6                   2     5651.500     1303.000    10000.000
H5-7                   1     3891.000     3891.000     3891.000
H5/6                   1     4629.000     4629.000     4629.000
H6                    77    11640.090        0.500   166000.000
H?                     1        0.200        0.200        0.200
Howardite             13     4873.785       30.000    40000.000
Iron                   6     4122.833       12.000    18000.000
Iron, IAB-MG           1     8800.000     8800.000     8800.000
Iron, IAB-sHL          3     2498.333     1245.000     5000.000
Iron, IAB-sLL          2     7161.000     4000.000    10322.000
Iron, IAB-ung          2     7255.000     3760.000    10750.000
Iron, IIAB             6  3885195.333     1230.000 23000000.000
Iron, IID              3    57733.333    17200.000   107000.000
Iron, IIE              1      380.000      380.000      380.000
Iron, IIE-an           1     6800.000     6800.000     6800.000
Iron, IIF              1     7000.000     7000.000     7000.000
Iron, IIIAB           10   109541.960      737.600   600000.000
Iron, IVA              4    19637.500     4300.000    50000.000
Iron, ungrouped        4    15187.500     2050.000    37500.000
Iron?                  1     2250.000     2250.000     2250.000
K3                     1      350.000      350.000      350.000
L                      8     3986.562       25.500    20000.000
L/LL4                  3   112666.667     2000.000   330000.000
L/LL5                  3   167315.000      670.000   500000.000
L/LL6                  3    82236.833     1710.500   220000.000
L3                     3     2065.000      135.000     5460.000
L3-4                   1      600.000      600.000      600.000
L3-6                   1     1900.000     1900.000     1900.000
L3.4                   1     1456.000     1456.000     1456.000
L3.6                   1     9700.000     9700.000     9700.000
L3.7                   2    11862.500     1025.000    22700.000
L3.7-6                 1     6100.000     6100.000     6100.000
L4                    18    15564.061       48.600   200000.000
L4-6                   1     6000.000     6000.000     6000.000
L5                    69    16049.748        0.800   230000.000
L5-6                   2   153456.500     6913.000   300000.000
L5/6                   2    75800.000     1600.000   150000.000
L6                   242    15944.514        3.300   303000.000
LL                     2      382.500      100.000      665.000
LL3-6                  2      978.500      910.000     1047.000
LL3.00                 1      691.000      691.000      691.000
LL3.15                 1     1039.000     1039.000     1039.000
LL3.2                  1    50000.000    50000.000    50000.000
LL3.3                  1       24.300       24.300       24.300
LL3.4                  3     3922.700       13.100     8200.000
LL3.6                  2    39496.500     1393.000    77600.000
LL3.8                  1     1100.000     1100.000     1100.000
LL3.9                  1     7500.000     7500.000     7500.000
LL4                    6    15017.833       17.000    80000.000
LL5                   18    38730.494        2.000   408000.000
LL6                   39    20542.185        3.300   271000.000
Lodranite              1     1000.000     1000.000     1000.000
Martian (chassignite)   1     4000.000     4000.000     4000.000
Martian (nakhlite)     1    10000.000    10000.000    10000.000
Martian (shergottite)   2     6000.000     5000.000     7000.000
Mesosiderite           1   128800.000   128800.000   128800.000
Mesosiderite-A1        3    13579.333      188.000    37350.000
Mesosiderite-A3        1    59000.000    59000.000    59000.000
Mesosiderite-A3/4      1   320000.000   320000.000   320000.000
OC                    21     1034.280       72.900     4460.000
Pallasite              2       25.800        9.600       42.000
Pallasite, PMG         2   147500.000    45000.000   250000.000
R3.8-6                 1       67.000       67.000       67.000
Stone-uncl            34     5628.668        1.400    29000.000
Unknown                2          nan          nan          nan
Ureilite               5     1068.800      300.000     1900.000
Ureilite-an            1     3950.000     3950.000     3950.000
Winonaite              1      157.000      157.000      157.000